#box {
	background: #D9D9D7;
	border: #D9D9D7 solid 30px;
	text-align: center;
	position: absolute;
	margin-left: -75px;
	margin-top: -75px;
	left:25%;
	top: 25%;
	z-index: 20;
	display: none;
}

#screen {
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
}

.editar {
	border: 0px;
  	padding: 0px;
  	cursor: pointer;
}
